.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.roleSelection {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.roleLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.actions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}