/* src/index.css */


:root {
  --primary-color: #04434b; 
  --accent-color: #5F99B1;
  --background-color: #FFFFFF;
  --text-color: #212121;
  --border-color: #E0E0E0;
   --footer-background: #fcfcfd; 
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}